.cursive-font{
  font-family: 'Pacifico', cursive;
}

.main-title{
  font-weight: 10;
}

.modal-card{
  width: 90vw !important;
}

.card{
  margin: 3rem 0;
}

.is-vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields-comments{
  width: 100% !important;
}
.card-content-padding{
  padding: 0.1rem;
  margin: 0rem;
  border-top: 0rem;
}
.card-image-comment{
  width: 1.9rem;
}
.media-comment{
  padding-top: 0.1rem;
  margin-top: 0.1rem;
}